@media only screen and (max-width: 1000px) {

/* Menu transformation */
.navigation {overflow: hidden;background-color: #333;position: relative;}
.navigation #menu {display: none;}
.navigation a {color: white;padding: 16px 16px;text-decoration: none;font-size: 18px;display: block;}
.navigation a.icon {background: #FF8C00;display: block;position: absolute;right: 0;top: 0;}
#company-title{width: 80%;}
#menu ul {list-style-type: none;overflow: hidden;background-color: #333;}
#menu li {margin:auto;padding:0;}
#menu li ul {position:relative;}

}




@media only screen and (max-width: 768px) {{
    width: 100%;
  }

/* Header content */
#company-title img{width: 28px; height: 28px;margin: 2px;}
#company-title p{margin-bottom: 8px; font-size: 12px;}
.navigation a {padding: 10px 10px;font-size: 12px;}

.col-0 {width: 0%;padding:0;}
.col-1 {width: 100%;}
.col-2 {width: 0%;padding:0;}

/* Home page */
[class*="title-"] {margin-top:5px; margin-bottom: 5px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 20px;}




.col-menu {width: 100%;}
.col-cv {width: 100%;}
.col-centrale {width: 100%;}
.col-contact-titre {width: 100%;}
.col-contact {width: 50%;}

.col-photo{width: 50%;}
.col-presentation {width: 100%;}
  
.col-ecole {width: 100%;}
.col-presentation-ecole {width: 100%;} 

.col-projets{width: 96%;} 
.col-presentation-projets {width: 65%;}
}



@media only screen and (min-width: 468px) and (max-width: 768px) {{
    width: 100%;
  }

/* Header content */
#company-title img{width: 28px; height: 28px;margin: 2px;}
#company-title p{margin-bottom: 8px; font-size: 12px;}
.navigation a {padding: 10px 10px;font-size: 12px;}

.col-0 {width: 0%; padding:0;}
.col-1 {width: 100%;}
.col-2 {width: 0%;padding:0;}

/* Home page */
[class*="title-"] {margin-top:5px; margin-bottom: 5px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 25px;}

.col-menu {width: 100%;}
.col-cv {width: 100%;}
.col-centrale {width: 100%;}
.col-contact-titre {width: 100%;}
.col-contact {width: 50%;}

.col-photo{width: 45%;}
.col-presentation {width: 100%;}

.col-ecole {width: 35%;}
.col-presentation-ecole {width: 65%;}

.col-projets{width: 96%;}
.col-presentation-projets {width: 65%;}
}



@media only screen and (min-width: 768px) and (max-width: 1000px) {{
    width: 100%;
  }

/* Header content */
#company-title img{width: 28px; height: 28px;margin: 2px;}
#company-title p{margin-bottom: 8px; font-size: 12px;}
.navigation a {padding: 10px 10px;font-size: 12px;}

.col-0 {width: 2.5%;}
.col-1 {width: 95%;}
.col-2 {width: 2.5%;}

/* Home page */
[class*="title-"] {margin-top:6px; margin-bottom: 6px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 30px;}

.col-photo{width: 40%;}
.col-presentation {width: 100%;}

.col-ecole {width: 35%;}
.col-presentation-ecole {width: 65%;}

.col-projets{width: 96%;}
.col-presentation-projets {width: 65%;}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {

/* Header content */
#company-title img{width: 32px; height: 32px; margin: 6px;}
.navigation a {padding: 5px 5px;font-size: 20px;}
#company-title p{font-size: 14px;}
#menu li a {width:100px;padding: 16px 16px;font-size: 14px;}

.col-0 {width: 5%;}
.col-1 {width: 90%;}
.col-2 {width: 5%;}

/* Home page */
[class*="title-"] {margin-top:7px; margin-bottom: 7px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 35px;}

.col-photo{width: 35%;}
.col-presentation {width: 100%;}

.col-ecole {width: 35%;}
.col-presentation-ecole {width: 65%;}

.col-projets{width: 96%;}
.col-presentation-projets {width: 65%;}

}



@media only screen and (min-width: 1200px) and (max-width: 1500px) {

/* Header content */
#company-title img{width: 32px; height: 32px; margin: 6px;}
.navigation a {padding: 5px 5px;font-size: 20px;}
#company-title p{font-size: 14px;}
#menu li a {width:100px;padding: 16px 16px;font-size: 14px;}

.col-0 {width: 7.5%;}
.col-1 {width: 85%;}
.col-2 {width: 7.5%;}

/* Home page */
[class*="title-"] {margin-top:8px; margin-bottom: 8px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 40px;}

.col-photo{width: 30%;}

.col-ecole {width: 25%;}
.col-presentation-ecole {width: 75%;}

.col-projets{width: 46%;}
.col-presentation-projets {width: 65%;}

}


@media only screen and (min-width: 1200px) and (max-width: 1500px) {

/* Header content */
#company-title img{width: 32px; height: 32px; margin: 6px;}
.navigation a {padding: 5px 5px;font-size: 20px;}
#company-title p{font-size: 14px;}
#menu li a {width:100px;padding: 16px 16px;font-size: 14px;}

.col-0 {width: 10%;}
.col-1 {width: 80%;}
.col-2 {width: 10%;}

/* Home page */
[class*="title-"] {margin-top:9px; margin-bottom: 9px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 45px;}

.col-photo{width: 30%;}

.col-ecole {width: 25%;}
.col-presentation-ecole {width: 75%;}

.col-projets{width: 46%;}
.col-presentation-projets {width: 65%;}

}


@media only screen and (min-width: 1500px)  {

/* Header content */
#company-title img{width: 32px; height: 32px; margin: 6px;}
.navigation a {padding: 5px 5px;font-size: 20px;}
#company-title p{font-size: 14px;}
#menu li a {width:100px;padding: 16px 16px;font-size: 14px;}

.col-0 {width: 15%;}
.col-1 {width: 75%;}
.col-2 {width: 15%;}

/* Home page */
[class*="title-"] {margin-top:10px; margin-bottom: 10px;}
[class*="section-"] {margin-top: 10px; margin-bottom: 50px;}

.col-photo{width: 30%;}

.col-ecole {width: 25%;}
.col-presentation-ecole {width: 75%;}

.col-projets{width: 46%;}
.col-presentation-projets {width: 65%;}

}