* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-color: #F2F2F2;
}




/* Left part of the header (icon + name of the company) */
.navigation{
  position: relative;
  z-index: 10;
}

.navigation * {box-sizing: content-box;}

#company-title{

  width: 30%;
  background-color: #333;
}
.company-sub-title{
  width: 100%;
  height: 100%
  margin: 0;
  display: flex;
}
#company-title img{
  color: #FFFFFF;
  border: 1px solid #bbb;
}
#company-title p{
  width: 70%;
  margin-left: 16px;
  color: #FFFFFF;
  text-align: middle;
  margin-top:14px;
  margin-bottom: 14px;
}

#menu ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

#menu li a:hover {
  background-color: #FF8C00;
}

/* Sub menu management*/
#menu ul li ul {display:none;}
#menu ul li:hover ul {display:block;}
#menu li:hover ul li {float:none;}

.active{background-color: #FF8C00}















.row-1::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {float: left; padding: 10px;}

.col-1{
  padding: 0px;
  margin-top:0px;
}


/* Home page */
[class*="title-"] { width:96%; margin-left: 2%; margin-right: 2%; padding: 4px;
                  font-weight: bold; letter-spacing: 1px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 2vw;
                  color:white;
                  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}

.title-presentation {background-color: #FF8C00;}
.section-12 {display: flex; padding: 0px; width:100%;}
.section-12 .sb12 {width:32%; margin-left: 2%; margin-right: 2%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}
.section-12 .sb21 {width:62%; margin-left: 2%, margin-right: 2%;position:relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}

[class*="text-"]{position: absolute; top:10px; bottom:10px; left:10px; right:10px; 
                  text-align: justify; font-size: 1.3vw; font-family: Arial, Helvetica, sans-serif; 
                  color:black;}
[class*="text-"] h4{text-align: center}


.title-selection {background-color: #12014f;}
.section-3 {display: flex; padding: 0px; width:100%;}
.sb3 {width:32%; margin-left: 2%; margin-right: 2%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}
.sb3 img:hover {opacity: 0.7;}


.title-news {background-color: #FF6347;}
.section-21 {display: flex; padding: 0px; width:100%;}
.section-21 .sb21{width:62%; margin-left: 2%; margin-right: 2%;position:relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}
.section-21 .sb12 {width:32%; margin-left: 2%; margin-right: 2%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2); border:3px solid white;}




.col-centrale{
  padding: 0px;
  border : 10px solid #F2F2F2;
  margin-bottom: 10px;
  background-color: #F2F2F2;
}

.col-centrale a{
  color: #000000;
}


/*En-tête*/
.header{
  background-color: #000000;
}
.imagelogo{
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px; 
}
.site-name {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 
}
.site-name a:hover {
  color: #EC3E50;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #03224C;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-weight: bold;
  text-align: center; 
}
.lien_menu{
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}
.menu li:hover {
  background-color:#6600cc;
}


/* Formation */
.nom_ecole{
  text-align: center;
}
.col-sous-formation {
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
  border:1px solid #FFFFFF;
  margin-bottom: 2%;
  background-color: #FFFFFF;
}
.col-ecole {
  text-align: center;
}

/*
.contenu_scientifique li ul{display: none;}
.contenu_scientifique li:hover ul{display: block;position:relative;top:0;left:-25px;}
*/
b:before{
   content: '- ';
}

/* Projets */

.col-projet-centrale{

}

.col-projet-centrale h1{
  text-align: center;
}

.col-titre-section-projet{
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
  border:1px solid #FFFFFF;
  margin-bottom: 2%;
  text-align: center;
  margin : 2%;
  background-color: #631120;
  color : #FFFFFF;
}


.col-projets{
  height: 300px;
  display: block;
  margin: 2%;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
  border:1px solid #FFFFFF;
  margin-bottom: 2%;
  background-color: #FFFFFF;
}

.col-img-projet {
  text-align: center;
}

}

.col-projets .img-projets {
 display: block;
 width: 100%;
 height: auto;
}

.col-projets .text-projets-1 {
 color: #000;
 font-size: 100%;
 text-align: center;
 position: absolute;
 top: 15%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 font-weight: bold;

}

.col-projets .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .5s ease;
 box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);

}

.col-projets:hover .hover {
 opacity: 1;
}

.col-projets .non_hover {
 transition: .5s ease;
}

.col-projets:hover .non_hover {
 opacity: 0;
}
.col-projets .hover {
 background-color: rgba(0,0,0,0.7);
}

.col-projets .text-projets-2 {
  color: #fff;
  font-size: 80%;
  line-height: 1em;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cv_framework{
  border:30px solid #FFFFFF;
}


/* Contact */
.contact::after {
  content: "";
  clear: both;
  display: block;
}
.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 1.5vw;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
}





.col-menu {width: 25%;}
.col-cv {width: 15%;}
.col-centrale {width: 75%;}
.col-contact-titre {width: 100%;}
.col-contact {width: 50%;}
.col-menu {width: 25%;}


.col-presentation-ecole {width: 75%;}
.col-ecole {width: 25%;}


.col-projet{width: 46%;}
.col-titre-section-projet{width: 96%;}
.col-img-projet {width: 35%;}
.col-presentation-projets {width: 65%;}






@media only screen and (min-width: 1000px) {

  /* Entire header */
.navigation{
  width:100%;
  display: flex;
}

/* Right header menu management */
#menu{
  width: 70%;
}
#menu ul {
  margin:0;
  padding:0;
  text-align:center;
}
#menu li {
  float:right;
  margin:auto;
  padding:0;
  color:#FFD700;
  border-right: 1px solid #bbb;
}

#menu li a {
  display:block;
  width:100px;
  color:white;
  text-decoration:none;
}


.navigation a.icon {
  display: none;
}

#menu{
  display: block;
}




/* Display border of each menu element */
#menu li:first-child {border-right: none;}
#menu li:last-child {border-left: 1px solid #bbb;}
#menu ul li ul li:first-child {border: none;}
#menu ul li ul li:last-child {border: none;}
#menu ul li ul li {border: none;}


/* Sub menu management*/
#menu li ul {position:absolute;}